/ {
	dht22 {
		compatible = "aosong,dht";
		status = "okay";
		label = "DHT22";
		dio-gpios = <&gpio0 12 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
		dht22;
	};
};

&i2c0 {
    sda-pin = <23>;
	scl-pin = <22>;
    clock-frequency = <I2C_BITRATE_STANDARD>;

    bmp280@77 {
        compatible = "bosch,bme280";
        status = "okay";
        label = "BMP280";
        reg = <0x77>;
    };
};
