/ {
	dht22 {
		compatible = "aosong,dht";
		status = "okay";
		label = "DHT22";
		dio-gpios = <&gpio0 12 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
		dht22;
	};
};

&spi3 {
    miso-pin = <19>;
	mosi-pin = <18>;
	sclk-pin = <5>;
	csel-pin = <15>;

    cs-gpios = <&gpio0 15 GPIO_ACTIVE_LOW>;

    bme280@0 {
        compatible = "bosch,bme280";
        status = "okay";
        label = "BME280";
        reg = <0>;
        spi-max-frequency = <1000000>;
    };
};
